<header class="header">
  <div class="container">
    <h1 class="title">Book Library System</h1>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Books" class="nav-link">Books</a></li>
        <li class="nav-item"><a href="/Authors" class="nav-link">Authors</a></li>
        <li class="nav-item"><a href="/Contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
